<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Example</title>
</head>
<body>

    <form action="result" method="get">
        <label for="input1">number 1:</label>
        <input type="text" id="input1" name="num1" required>

        <br>

        <label for="input2">number 2:</label>
        <input type="text" id="input2" name="num2" required>

        <br>

        <input type="submit" value="result">
    </form>

</body>
</html>
